PORT=8080

AUTH_SERVICE_URL=http://auth-service:3000
PRODUCTOS_SERVICE_URL=http://productos-service:8000
REPORTES_SERVICE_URL=http://reportes-service:8000
PEDIDOS_SERVICE_URL=http://pedidos-service:8000
